@model Lab3.Models.Customer

@{
    ViewBag.Title = "Thông tin chi tiết khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin chi tiết khách hàng</h2>

<hr />
<dl class="dl-horizontal">
    <dt>Mã khách hàng</dt>
    <dd>@Html.DisplayFor(model => model.CustomerId)</dd>

    <dt>Họ và tên</dt>
    <dd>@Html.DisplayFor(model => model.FullName)</dd>

    <dt>Địa chỉ</dt>
    <dd>@Html.DisplayFor(model => model.Address)</dd>

    <dt>Email</dt>
    <dd>@Html.DisplayFor(model => model.Email)</dd>

    <dt>Điện thoại</dt>
    <dd>@Html.DisplayFor(model => model.Phone)</dd>

    <dt>Số dư</dt>
    <dd>@Html.DisplayFor(model => model.Balance)</dd>
</dl>

<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.CustomerId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Quay lại", "GetCustomers", null, new { @class = "btn btn-default" })
</p>
