@model LAB2.Models.DangKyThanhVien

@{
    ViewBag.Title = "Đăng ký thành viên";
}

<h2>Đăng ký thành viên</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div>
        @Html.LabelFor(m => m.TenDonVi)
        @Html.TextBoxFor(m => m.TenDonVi)
        @Html.ValidationMessageFor(m => m.TenDonVi)
    </div>

    <div>
        @Html.LabelFor(m => m.LoaiHinhDoanhNghiep)
        @Html.TextBoxFor(m => m.LoaiHinhDoanhNghiep)
    </div>

    <div>
        @Html.LabelFor(m => m.SoLuongNhanVien)
        @Html.TextBoxFor(m => m.SoLuongNhanVien)
        @Html.ValidationMessageFor(m => m.SoLuongNhanVien)
    </div>

    <div>
        @Html.LabelFor(m => m.NguoiLienHe)
        @Html.TextBoxFor(m => m.NguoiLienHe)
        @Html.ValidationMessageFor(m => m.NguoiLienHe)
    </div>

    <div>
        @Html.LabelFor(m => m.DienThoai)
        @Html.TextBoxFor(m => m.DienThoai)
        @Html.ValidationMessageFor(m => m.DienThoai)
    </div>

    <div>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <div>
        @Html.LabelFor(m => m.TenDangNhap)
        @Html.TextBoxFor(m => m.TenDangNhap)
        @Html.ValidationMessageFor(m => m.TenDangNhap)
    </div>

    <div>
        @Html.LabelFor(m => m.MatKhau)
        @Html.PasswordFor(m => m.MatKhau)
        @Html.ValidationMessageFor(m => m.MatKhau)
    </div>

    <div>
        @Html.LabelFor(m => m.XacNhanMatKhau)
        @Html.PasswordFor(m => m.XacNhanMatKhau)
        @Html.ValidationMessageFor(m => m.XacNhanMatKhau)
    </div>

    <div>
        @Html.CheckBoxFor(m => m.NhanThuDienTu) Nhận thư điện tử
    </div>

    <button type="submit">Đăng ký</button>
}
