@model Lab4.Models.Member2
@{
    ViewBag.Title = "Đăng ký thành viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-primary">ĐĂNG KÝ THÀNH VIÊN</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <table class="table table-bordered" style="width:600px">
        <tr><td>Tên đơn vị tuyển (*)</td><td>@Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" }) @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "text-danger" })</td></tr>
        <tr><td>Loại hình doanh nghiệp (*)</td><td>@Html.TextBoxFor(m => m.CompanyType, new { @class = "form-control" })</td></tr>
        <tr><td>Số lượng nhân viên (*)</td><td>@Html.TextBoxFor(m => m.EmployeeCount, new { @class = "form-control" })</td></tr>
        <tr><td>Địa chỉ (*)</td><td>@Html.TextAreaFor(m => m.Address, new { @class = "form-control" })</td></tr>
        <tr><td>Người liên hệ (*)</td><td>@Html.TextBoxFor(m => m.ContactPerson, new { @class = "form-control" })</td></tr>
        <tr><td>Số điện thoại (*)</td><td>@Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })</td></tr>
        <tr><td>Fax</td><td>@Html.TextBoxFor(m => m.Fax, new { @class = "form-control" })</td></tr>
        <tr><td>Email (*)</td><td>@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })</td></tr>
        <tr><td>Website</td><td>@Html.TextBoxFor(m => m.Website, new { @class = "form-control" })</td></tr>
        <tr><td>Tên đăng nhập (*)</td><td>@Html.TextBoxFor(m => m.Username, new { @class = "form-control" })</td></tr>
        <tr><td>Mật khẩu (*)</td><td>@Html.PasswordFor(m => m.Password, new { @class = "form-control" })</td></tr>
        <tr><td>Xác nhận mật khẩu (*)</td><td>@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })</td></tr>
        <tr>
            <td>Nhận E-mail</td>
            <td>
                <label>@Html.RadioButtonFor(m => m.ReceiveEmail, true) Nhận</label>
                <label>@Html.RadioButtonFor(m => m.ReceiveEmail, false) Không nhận</label>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
                <input type="reset" value="Hủy bỏ" class="btn btn-secondary" />
            </td>
        </tr>
    </table>
}
