@model YourNamespace.Models.Student
@{
    ViewBag.Title = "Thêm học viên";
}

<h2>Thêm học viên</h2>

@using (Html.BeginForm("Create", "Student", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.FullName, new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FullName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Gender, new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            <label class="radio-inline"><input type="radio" name="Gender" value="Male" checked /> Nam</label>
            <label class="radio-inline"><input type="radio" name="Gender" value="Female" /> Nữ</label>
            <label class="radio-inline"><input type="radio" name="Gender" value="Other" /> Khác</label>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DateOfBirth, new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.DateOfBirth, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TuitionFee, new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.TuitionFee, new { @class = "form-control", type = "number", step = "0.01" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ImageFileName, new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            <input type="file" name="imageFile" />
            <p class="help-block">Chỉ .jpg/.png/.gif – tối đa 2MB</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Notes, new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            @Html.TextAreaFor(m => m.Notes, 4, 80, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-primary" />
            @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
}
