@model YourNamespace.Models.Student
@{
    ViewBag.Title = "Sửa học viên";
}

<h2>Sửa học viên</h2>

@using (Html.BeginForm("Edit", "Student", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.StudentId)

    <div class="form-group">
        @Html.LabelFor(m => m.FullName, new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Gender, new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            <label class="radio-inline"><input type="radio" name="Gender" value="Male" @(Model.Gender == "Male" ? "checked" : "") /> Nam</label>
            <label class="radio-inline"><input type="radio" name="Gender" value="Female" @(Model.Gender == "Female" ? "checked" : "") /> Nữ</label>
            <label class="radio-inline"><input type="radio" name="Gender" value="Other" @(Model.Gender == "Other" ? "checked" : "") /> Khác</label>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DateOfBirth, new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.DateOfBirth, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TuitionFee, new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.TuitionFee, new { @class = "form-control", type = "number", step = "0.01" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Ảnh hiện tại", new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @if (!string.IsNullOrEmpty(Model.ImageFileName))
            {
                <img src="@Url.Content("~/Content/StudentImages/" + Model.ImageFileName)" style="width:120px;height:90px;" />
                <div>
                    <label><input type="checkbox" name="removeImage" /> Xóa ảnh hiện tại</label>
                </div>
            }
            <input type="file" name="imageFile" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Notes, new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            @Html.TextAreaFor(m => m.Notes, 4, 80, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cập nhật" class="btn btn-primary" />
            @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
}
